/* Inputs container */
.quoteContainer {
  display: flex;
  flex-direction: column;
  width: 10.5%;
}

.quoteContainer label {
  font-weight: 700;
  font-size: 15px;
}

.quoteContainer input {
  margin-bottom: 10px;
}

.quoteContainer select {
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .quoteContainer {
    width: 100%;
  }

  .quoteContainer select {
    width: 20%;
  }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
  .quoteContainer {
    width: 18%;
  }

  .quoteContainer select {
    width: 40%;
  }
}

/* End inputs container */

.btn {
  margin: 10px 0;
  width: 100px;
  padding: 10px;
  background-color: #3898ec;
  border-radius: 2px;
  border: 2px solid #3898ec;
  cursor: pointer;
  color: #fff;
  white-space: nowrap;
}

.error {
  color: #ff0000;
}
