/* Box container */
.boxContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .boxContainer {
    flex-direction: column;
  }
}

/* End box container */


/* Delivery */

.boxContainer .deliveryContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.boxContainer .deliveryContainer .deliveryTitle {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  padding: 5px;
}

.boxContainer .deliveryContainer .deliveryTitle span {
  font-size: 14px;
}

.boxContainer .deliveryContainer .deliveryTitle span i {
  font-size: 50px;
  color: #3898ec;
}

.boxContainer .deliveryContainer .deliveryTitle p {
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}

.boxContainer .deliveryDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

.boxContainer .deliveryDetails p {
  color: #4129c7;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.boxContainer .deliveryDetails span {
  font-size: 15px;
}

.boxContainer .deliveryDetails .deliveryDate {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .boxContainer .deliveryContainer {
    width: 100%;
    padding-bottom: 20px;
  }
}

/* End delivery */

/* Price */
.boxContainer .priceContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.boxContainer .priceContainer .priceTitle {
  background-color: #0000ff;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer .priceContainer .priceTitle p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 600;
}

.boxContainer .priceContainer .price {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer .priceContainer .price p {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .boxContainer .priceContainer {
    width: 100%;
    border-left: 1px solid #000;
    height: 140px;
  }
}

/* End Price */
