.pickupSelectContainer {
  width: 150px;
}

.originCountrySelectContainer {
  width: 250px;
}

.startDateContainer {
  width: 250px;
}

.startDateContainer input {
  height: 35px;
  border: 1px solid rgba(51, 51, 51, .1);
  padding: 0 15px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #ffffff;
  outline: none;
}

.startDateContainer input:focus {
  border: 1px solid #007aff;
}
